h1{
    background-color:  #86C8D3;
    padding: 12px;
    text-align: center;
    border-radius: 12px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #CAFFE5;
    text-align: center;
}
