@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@0,400;1,300&family=Silkscreen&display=swap');

body{
    background-color: #5FA9CF;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

h1{
    
    background-color: #2888A1;
    text-align: center;
    padding: 12px;
    border: 1px solid #000;
}

#important{
    background-color: #0080AC;
    padding: 12px;
    border: 1px solid #000;
    
}

.edit{
    background-color: #13C614;
    padding: 12px;
    font-size: 30px;
    text-align: center;
    border: 1px solid #000;
}

.nombre{
    text-align: center;
}